
/**/
.espacio{
    padding-top: 150px;
}
.espacio2
{
    margin-top: 80px;
}
.redondear_menu
{
    border-radius: 18px;
}

.color
{
    
    color: white;
}
.recien{
    width: 100px;
}

.marlr
{
    font-size: 18px;
    margin-left: 12px;
    margin-right: 12px;

}