{%  extends 'modelo/plantilla_perfil.html' %}


{% load static %}


{% block imagenbanner %}

{% if fotos.foto_banner %}
<img src="{{fotos.foto_banner.url}}" style="width: 100% ; border-radius: 20px 20px 900px 900px;" alt="">

{% else %}
<img src="{% static 'modelo/imagen/img_perfil/banner-defecto.png'%}"
    style="width: 100% ; border-radius: 20px 20px 900px 900px;" alt="">

{% endif %}

{% endblock imagenbanner %}


{% block imagenPerfil %}

{% if fotos.foto_perfil %}
<img class="rounded-circle" src="{{fotos.foto_perfil.url}}" alt="...">
{% else %}
<img class="rounded-circle" src="{% static 'modelo/imagen/img_perfil/Snes-mando.png'%}" alt="...">
{% endif %}

{% endblock imagenPerfil %}



{% block content %}

<!--Datos perso-->

<div class="container">
    {%  if messages  %}

    {%  for x in messages  %}
    <p>{{ x }}</p>
    {%  endfor  %}

    {%  endif  %}
    <form action="{%  url 'actualizardatos'  %}" method="post">
        {%  csrf_token  %}
        <div class="container-fluid d-flex ">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="Name">Nombre </label>
                    <div class="fx">
                        <input type="input" class="form-control " name="nombre" id="Name" aria-describedby="text"
                            value="{{ datosuser.us_nom }}" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Name">Apellido</label>
                    <div class="fx">
                        <input type="input" class="form-control " name="apellido" id="Lastname" aria-describedby="text"
                            value="{{ datosuser.us_apes }}" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Name">Nombre Usuario</label>
                    <div class="fx">
                        <input type="input" class="form-control " name="usernme" id="user-name" aria-describedby="text"
                            value="{{ datosuser.nom_user }}" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Rut">Nº Rut</label>
                    <input type="text" class="form-control" name="rut" id="Rut" placeholder="Ej: 181283262"
                        value="{{ datosuser.us_rut }}" disabled>
                </div>

                <div class="form-group">
                    <label for="Nacimiento">Fecha Nacimiento</label>
                    <input type="text" class="form-control" id="Nacimiento" value="{{ datosuser.us_nac }}" disabled>
                </div>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="Fono">Telefono</label>
                    <input type="text" class="form-control" name="fono" id="Fono" value="{{ datosuser.us_tel }}"
                        disabled>
                </div>

                <div class="form-group">
                    <label for="Phone">E-mail</label>
                    <input type="email" class="form-control" name="email" id="Phone"
                        placeholder="Ej: Heisenberg@xxx.com" value="{{ user.email }}" disabled>
                </div>

                <div class="form-group">
                    <label for="Ciudad">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="Ciudad" aria-describedby="text"
                        placeholder="Ej:Negra Arroyo 308" value="{{ datosuser.us_dir }}" disabled>
                </div>

                <div class="form-group">
                    <label for="inputRegioon">Region</label>
                    <select id="inputRegion" class="form-control" disabled>
                        <option selected>{{ datosuser.id_reg }}</option>
                        {%  for reg in regiones  %}
                        <option>{{ reg.desc_reg }}</option>
                        {%  endfor  %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputRegioon">Comuna</label>
                    <select id="inputciudad" class="form-control" disabled>
                        <option selected>{{ datosuser.id_ciud }}</option>
                        {%  for ciu in comunas  %}
                        <option>{{ ciu.desc_ciu }}</option>
                        {%  endfor  %}
                    </select>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="nav justify-content-center">
                <div>
                    <imput class="btn btn-dark bt" type="button" value="activar" onclick="activarimput()">
                        Modificar
                        Datos</imput>
                    <button class="btn btn-dark bt" type="submit" id="btn-guardar" disabled>Guardar
                        Cambios</button>
                </div>
            </div>

        </div>
    </form>


</div>

<br>
<br>
<br>
<!--End Datos perso-->

<!--Funciones-->
<script type="text/JavaScript">
        function activarimput(){
            if (document.getElementById('Name').disabled == false)
            {
                document.getElementById('Name').disabled=true
                document.getElementById('Lastname').disabled=true
                document.getElementById('user-name').disabled=true
                document.getElementById('Fono').disabled=true
                document.getElementById('Rut').disabled=true
                document.getElementById('Nacimiento').disabled=true
                document.getElementById('Phone').disabled=true
                document.getElementById('Ciudad').disabled=true
                document.getElementById('inputciudad').disabled=true
                document.getElementById('inputRegion').disabled=true
                document.getElementById('btn-guardar').disabled=true
            } else{
                document.getElementById('Name').disabled=false
                document.getElementById('Lastname').disabled=false
                document.getElementById('user-name').disabled=true
                document.getElementById('Fono').disabled=false
                document.getElementById('Rut').disabled=true
                document.getElementById('Nacimiento').disabled=true
                document.getElementById('Phone').disabled=false
                document.getElementById('Ciudad').disabled=false
                document.getElementById('inputciudad').disabled=true
                document.getElementById('inputRegion').disabled=true
                document.getElementById('btn-guardar').disabled=false
            }
            
        }
</script>



{{ block.super }}
{%   endblock  %}