{%  extends 'modelo/plantilla.html' %}


{% load static %}

{% block nom %}
<title>Compra Juegos</title>

{% endblock nom %}
<link rel="stylesheet" href="{% static 'modelo/css/Style_juegos.css'%}">
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@500&family=Russo+One&display=swap"
    rel="stylesheet">





{% block main %}


<div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="comprarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="comprarModalLabel">Gracias por su compra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="POST" action="{% url 'ComprarJuego' %}">
                    {% csrf_token %}


                    <div class="divcarro shopping-cart-items shoppingCartItemsContainer">

                    </div>

                    <div class="shopping-cart-total d-flex align-items-center">

                        <p class="mb-0">Total</p>

                        <p id="preciototal" name="price" class="ml-4 mb-0 totalCompra">0</p>

                        <button class="btn btn-success ml-auto comprarButton" type="submit"
                            data-toggle="modal">Comprar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Sub-menu de filtros-->
<div class=" espacio2 container p-3 mb-2  bg-dark text-white redondear_menu ">
    <nav class="nav navbar-nav navbar-center text-white " style="align-content: center;">

        <div id="myBtnContainer " class="col-xs-12">

            <button onclick="filterSelection('PC')" type="button" class="marlr  btn btn-light d-inline-flex "
                href="">PC</button>
            <button onclick="filterSelection('SWITCH')" type="button" class="btn btn-light d-inline-flex marlr"
                href="">Switch</button>

            <button onclick="filterSelection('all')" type="button" class="btn btn-light d-inline-flex marlr " href="#">
                <img class="imagenm" src="{% static 'modelo/imagen/048-tower.svg' %}" width="45px" alt="">
            </button>

            <button onclick="filterSelection('PS4')" type="button" class="btn btn-light d-inline-flex marlr"
                href="#">PS4</button>

            <button onclick="filterSelection('XBOX ONE')" type="button" class="btn btn-light d-inline-flex marlr"
                href="#">Xbox</button>
        </div>
    </nav>
</div>


<!-- Elementos filtrados -->


<div class="container">
    <div class="row justify-content-around m-2">
        <!--for para la vista de los juegos-->
        {% for i in juego %}
        <div class="i filterDiv {{i.j_plt}}  col-xs-12  col-md-3 col-lg-3 text-center px-2 mb-4 ">
            <div class="Fcarta">
                {% if i.j_port %}
                <img src="{{i.j_port.url}}" class="i-im icarta img-fluid " alt="">
                {% else %}
                <img src="{% static 'modelo/imagen/juego-defecto.jpg'%}" class="i-im icarta img-fluid " alt="">
                {% endif %}
                <h5 class="i-nom">{{i.j_nom}} </h5>
                <p class="i-id" style="display: none;">{{i.j_id}} </p>

                <p class="parrafo_carta">
                    <a onclick="vermas('mas', '{{i.j_nom}}' );" id="mas" >[Ver descripcion]</a>
                </p>

                <div>
                    <p id="{{i.j_nom}}" style="display:none;" class="arrafo_carta">{{i.j_desc}}
                        <a onclick="vermas('menos', '{{i.j_nom}}' );" id="menos">[Sin descripcion]</a>
                    </p>
                </div>


                {% if not perms.modelo.add_juego %}
                <p class="i-pre parrafo_carta">${{i.j_price}}</p>
                <button class="btn btn-dark mb-2 carr">Añadir al carro</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>





</div>

<script>
    function vermas(id, de) {
        if (id == "mas") {
            document.getElementById(de).style.display = "block";
            document.getElementById("mas").style.display = "none";
        }
        else {
            document.getElementById(de).style.display = "none";
            document.getElementById("mas").style.display = "inline";
        }
    }
</script>


<script>
    filterSelection("all")
    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    // Show filtered elements
    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
                element.className += " " + arr2[i];
            }
        }
    }

    // Hide elements that are not selected
    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }

    // Add active class to the current control button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>
<!--Fin del JS de los filtros-->


{% endblock main %}