{%  extends 'modelo/plantilla.html' %}


{% load static %}

{% block nom %}
<title>Iniciar_Sesion JugaBuy</title>
{% endblock nom %}

{% block main %}
<!-- Iniciar Sesion-->
<div class="container-fluid espacio">
    <div class="container col-md-9 shadow p-4 mb-4">
        <h5 class="title">Iniciar Sesión</h5>
        <div class="modal-footer d-flex justify-content-center">
            <form class=" d-block" method="post">
                {%  csrf_token  %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Usuario</label>
                    <input placeholder="Pepe001" type="text" class="form-control" aria-describedby="emailHelp" name="username">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">contraseña</label>
                    <input placeholder="contraseña" type="password" class="form-control" name="password">
                </div>

                
                <div class="text-center">
                    <button type="submit" class="btn btn-dark">Entrar</button>
                </div>

                <div class="text-center mt-3">
                    <a href="{% url 'register' %}"  class="btn btn-dark">Crear Cuenta</a>
                </div>

                <div class="form-group mt-3 text-center">
                    <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
                </div>
            </form>

              <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
        Login
      </a>

        </div>
    </div>
</div>
{% endblock main %}