
    {% extends 'modelo/plantilla.html' %}
    
    {% load static %}

    {% block nom %}
    <title>Novedades</title>
    <link rel="shortcut icon" href="imagen/Mando ico.png">
    {% endblock nom %}

 
    {% block main %}
  <!--texto inicio  -->
  <div class="container  ">    
    <div class="row justify-content-center">
      <div class="text-center">
        <h3 class="">.</h3>
        <p class="lead">.</p>

      </div>
    </div>
  </div>

   <!--Titulo  -->
 <div class="container-fluid">
  <div class="row ">
    <div class="col-12 text-center ">
      <p class="h2 m-5">Noticias recientes</p>
    </div>
  </div>
</div>

<!-- Noticias -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner container" role="listbox">
    <div class="carousel-item active">
      <!--primera fila Recien llegados -->
      <div class="row justify-content-around m-2 d-sm-inline-flex">
        <div class="col-xs-12  col-md-6 col-lg-6 text-center shadow px-2 py-4  ">
          <img src="{% static 'modelo/imagen/cyberpunk.jpg' %}" class="img-fluid " alt="">
          <h5 class="mt-3">Cyberpunk 2077: CD Projekt RED espera que más de la mitad de sus ventas sean digitales</h5>
          <p class="lead">CD Projekt RED estima que las ventas de Cyberpunk 2077 superarán sin problemas a las de The Witcher 3 y que la mayoría, más del 50%, serán digitales.</p>
          <li>
            <a href="https://vandal.elespanol.com/noticia/1350739994/cyberpunk-2077-cd-projekt-red-espera-que-mas-de-la-mitad-de-sus-ventas-sean-digitales/" class="text-red" target="_blank">Leer mas</a>
          </li>
        </div>
        <div class="col-xs-12  col-md-6 col-lg-6 text-center shadow px-2 py-4  ">
          <img src="{% static 'modelo/imagen/hyrule.jpg' %}" class="img-fluid " alt="">
          <h5 class="mt-3">Hyrule Warriors: La era del cataclismo: Su director nos habla sobre su proceso creativo</h5>
          <p class="lead">Ryota Matsushita nos detalla cómo fue la colaboración entre Nintendo y Koei Tecmo para dar vida a la guerra del Cataclismo y reconstruir el antiguo reino de Hyrule 100 años antes de su caída.</p>
          <li>
            <a href="https://vandal.elespanol.com/noticia/1350739992/hyrule-warriors-la-era-del-cataclismo-su-director-nos-habla-sobre-su-proceso-creativo/" class="text-red" target="_blank">Leer mas</a>
          </li>
        </div>
        <div class="col-xs-12  col-md-6 col-lg-6 text-center shadow px-2 py-4  ">
          <img src="{% static 'modelo/imagen/dualsense.jpg' %}" class="img-fluid " alt="">
          <h5 class="mt-3">¡Ojo! El DualSense de PS5 graba tu voz cuando consigues un trofeo</h5>
          <p class="lead">Un usuario se ha dado cuenta de que PS5 graba tu voz cuando consigues un trofeo, y se ha percatado de ello jugando a Demon's Souls Remake, dando lugar a un hilarante vídeo.</p>
          <li>
            <a href="https://vandal.elespanol.com/noticia/1350739993/ojo-el-dualsense-de-ps5-graba-tu-voz-cuando-consigues-un-trofeo/" class="text-red" target="_blank">Leer mas</a>
          </li>
        </div>
        <div class="col-xs-12  col-md-6 col-lg-6 text-center shadow px-2 py-4  ">
          <img src="{% static 'modelo/imagen/reddead.jpg' %}" class="img-fluid " alt="">
          <h5 class="mt-3">Jugadores de Red Dead Online descubren un glitch que te permite salir volando hasta México</h5>
          <p class="lead">Hay un puente en Red Dead Online que, si le lanzas cuchillos arrojadizos o tomahwak, te devuelve el ataque lanzándote por los aires. Este error permite salir del mapa y alcanzar zonas prohibidas.</p>
          <li>
            <a href="https://vandal.elespanol.com/noticia/1350739988/jugadores-de-red-dead-online-descubren-glitch-que-te-permite-salir-volando-hasta-mexico/" class="text-red" target="_blank">Leer mas</a>
          </li>
          
        </div>
      </div>
    </div>
  </div>
  {% endblock main %}


  
     




