/*Css Profile*/

.separacion{
    margin-top: 100px;
}

li {
    list-style:none;
}

.db-social .jumbotron {
    margin: 0;
    /*background: url(../../imagen/img_perfil/hog.png);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
    color: #fff!important;
    height: 400px;
    position: relative;
    box-shadow: inset 0 0 20px rgba(0,0,0,.3);
    padding: 0;
    border-radius: 10px 10px 800px 800px;
    
}



.container-fluid {
    padding: 30px 30px;
}

.db-social .image-default img {
    width: 150px;
    max-height: 150px;
    max-width: 150px;
    display: block;
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 0 0 6px rgba(255,255,255,1);
    z-index: 10;
    object-fit: cover;
    object-position: center center;
}
.db-social .infos {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    line-height: 1.8rem;
}
.db-social h2 {
    color: #2c304d;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: .1rem;
}

.infos button{
    font-size: 14px;
    border-radius: 10px;
    padding: 7px;
}

.bt{
    font-size: 14px;
    border-radius: 10px;
    padding: 7px;
}

/* form */
.form-control:focus {
    border-color: rgb(48, 48, 48);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
  }
.fx{
    display: flex;
}

.fx button{
    width: 20px;
    height: auto;
}

.btnVali{
    width: 200px;
    height: 20px;
    border-radius: 5px;
    padding: 0;
}

.btonCerrar{
    position: absolute;
}


/* End form */




/*end social*/
/*End Css Profile*/